@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icomoon/icomoon.eot?1cf6lm");
  src: url("/assets/fonts/icomoon/icomoon.eot?1cf6lm#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/icomoon/icomoon.ttf?1cf6lm") format("truetype"),
    url("/assets/fonts/icomoon/icomoon.woff?1cf6lm") format("woff"),
    url("/assets/fonts/icomoon/icomoon.svg?1cf6lm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// @font-face {
//   font-family: "BetterGrade";
//   src: url("../../../assets/fonts/BUTTERSHINE\ SERIF.otf") format("otf"),
//     url("../../../assets/fonts/BUTTERSHINE\ SERIF.otf") format("otf");
// }

// @font-face {
//   font-family: "BetterGrade";
//   src: url("../../../assets/fonts/BUTTERSHINE\ SERIF.otf") format("truetype"); /* Correct format */
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "BetterGrade";
//   src: url("../../../assets/fonts/BUTTERSHINE\ SERIF.otf") format("truetype");
// }

// body {
//   font-family: "Better Grade", sans-serif; /* Set Roboto as the default font */
// }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove the Icomoon font */
* {
  font-family: "Roboto", sans-serif; /* Ensure all elements use Roboto */
}

.icon-google:before {
  content: "\e924";
  color: #fff;
}
.icon-info:before {
  content: "\e923";
  color: #d47e00;
}
.icon-star:before {
  content: "\e91f";
}
.icon-step1:before {
  content: "\e920";
}
.icon-step2:before {
  content: "\e921";
  color: #999;
}
.icon-step3:before {
  content: "\e922";
  color: #999;
}
.icon-comment:before {
  content: "\e91a";
  color: #999;
}
.icon-date:before {
  content: "\e91b";
  color: #999;
}
.icon-eye:before {
  content: "\e91c";
  color: #999;
}
.icon-reply:before {
  content: "\e91d";
  color: #d47e00;
}
.icon-user2:before {
  content: "\e91e";
  color: #999;
}
.icon-arrow-md:before {
  content: "\e919";
  color: #d47e00;
}
.icon-arrow-sm:before {
  content: "\e918";
  color: #bbb;
}
.icon-arrow:before {
  content: "\e902";
  color: #999;
}
.icon-24:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e901";
}
.icon-arrow-lg:before {
  content: "\e903";
  color: #fff;
}
.icon-cart:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
  color: #fff;
}
.icon-facebook:before {
  content: "\e906";
  color: #fff;
}
.icon-heart:before {
  content: "\e907";
}
.icon-helpline:before {
  content: "\e908";
}
.icon-in:before {
  content: "\e909";
  color: #fff;
}
.icon-insta:before {
  content: "\e90a";
  color: #fff;
}
.icon-mail:before {
  content: "\e90b";
  color: #d47e00;
}
.icon-map-pin:before {
  content: "\e90c";
  color: #d47e00;
}
.icon-map-pin-big:before {
  content: "\e90d";
}
.icon-natural:before {
  content: "\e90e";
}
.icon-organic:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e910";
}
.icon-quality:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-shipping:before {
  content: "\e913";
}
.icon-smartphone:before {
  content: "\e914";
  color: #d47e00;
}
.icon-twitter:before {
  content: "\e915";
  color: #fff;
}
.icon-user:before {
  content: "\e916";
}
.icon-video:before {
  content: "\e917";
}
.icon-whatsapp:before {
  content: "\ea93";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-tiktok:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000000'%3E%3Cpath d='M19.59 6.69a4.83 4.83 0 0 1-3.77-4.25V2h-3.45v13.67a2.89 2.89 0 0 1-5.2 1.74 2.89 2.89 0 0 1 2.31-4.64 2.93 2.93 0 0 1 .88.13V9.4a6.18 6.18 0 0 0-1-.05A6.74 6.74 0 0 0 5 20.8a6.74 6.74 0 0 0 10.86-5.22v-7a4.85 4.85 0 0 0 3.77 1.52v-3.4a4.85 4.85 0 0 1-1-.01z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease;
}

a:hover .icon-tiktok:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23faf9ff'%3E%3Cpath d='M19.59 6.69a4.83 4.83 0 0 1-3.77-4.25V2h-3.45v13.67a2.89 2.89 0 0 1-5.2 1.74 2.89 2.89 0 0 1 2.31-4.64 2.93 2.93 0 0 1 .88.13V9.4a6.18 6.18 0 0 0-1-.05A6.74 6.74 0 0 0 5 20.8a6.74 6.74 0 0 0 10.86-5.22v-7a4.85 4.85 0 0 0 3.77 1.52v-3.4a4.85 4.85 0 0 1-1-.01z'/%3E%3C/svg%3E");
}